body {
    margin: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

.header {
    font-size: 32px;
    font-family: monospace;
    font-weight: 800;
}

.header:hover {
    text-decoration: underline;
    color: darkblue;
}

.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 60px;
}

.link-img {
    height: 32px;
    width: 32px;
    margin: 5px;
}

.link-img:hover {
    cursor: pointer;
}